{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Photo Royale</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li class="center">Lettuce begin the battle!!!!</li>
          <li><a class="title" href="/threads/" class="left brand-logo">&nbsp;&nbsp;Photo Royale</a></li>
        </ul>
        <ul class="right">
          <li><a class="nav" href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
          <li><a class="nav" href="{% url 'logout' %}">Log Out?</a></li>
          <li><a class="nav" href="{% url 'thread_render' %}">Create a Thread!</a></li>
          <li class="nav">{{user.username}}</li>
          {% else %}
          <li><a class="nav" href="{% url 'signup' %}">Sign Up?</a></li>
          <li><a class="nav" href="{% url 'login' %}">Log In!</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    <!-- <div class="container">
      <div class="big">
          <img src="" alt="">
      </div>
      <div class="vertical">
          <img src="" alt="">
      </div>
      <div>
          <img src="" alt="">
      </div>
      <div class="horizontal">
          <img src="" alt="">
      </div>
      <div class="vertical">
          <img src="" alt="">
      </div>
      <div>
          <img src="" alt="">
      </div>
      <div class="horizontal">
          <img src="" alt="">
      </div>
      <div class="big">
          <img src="" alt="">
      </div>
      <div>
          <img src="" alt="">
      </div>
      <div class="vertical">
          <img src="" alt="">
      </div>
      <div>
          <img src="" alt="">
      </div>
      <div>
          <img src="" alt="">
      </div>
      <div>
          <img src="" alt="">
      </div> -->
  </div>
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2021 Photo Royale &nbsp;</div>
  </footer>
</body>
</html>