{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Photo Royale</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li class="center hide-on-med-and-down">Lettuce begin the battle!!!!</li>
          <li><a class="title" href="/threads/" class="left brand-logo">&nbsp;&nbsp;Photo Royale</a></li>
        </ul>

        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="nav" href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
          <li><a class="nav" href="{% url 'thread_render' %}">Create a Thread!</a></li>
          <li><a class="nav" href="{% url 'logout' %}">Log Out?</a></li>
          <li class="nav">{{user.username}}</li>
          {% else %}
          <li><a class="nav" href="{% url 'signup' %}">Sign Up?</a></li>
          <li><a class="nav" href="{% url 'login' %}">Log In!</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

  </header>
      <ul class="sidenav" id="mobile-demo">
      <li><a class="nav" href="{% url 'about' %}">About</a></li>
      {% if user.is_authenticated %}
      <li><a class="nav" href="{% url 'thread_render' %}">Create a Thread!</a></li>
      <li><a class="nav" href="{% url 'logout' %}">Log Out?</a></li>
      <li id="sidenavuser" class="nav side">{{user.username}}</li>
      {% else %}
      <li><a class="nav" href="{% url 'signup' %}">Sign Up?</a></li>
      <li><a class="nav" href="{% url 'login' %}">Log In!</a></li>
      {% endif %}
    </ul>
  <main class="container">
  </div>
  {% block content %}
  {% endblock %}
</main>
<footer class="page-footer">
  <div class="right">All Rights Reserved, &copy; 2021 Photo Royale &nbsp;</div>
</footer>

<script src="{% static 'js/sideBar.js' %}"></script>
</body>
</html>