
:root {
  --card_width: 250px;
  --row_increment: 10px;
  --card_border_radius: 16px;
  --card_small: 26;
  --card_med: 33;
  --card_large: 45;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: rgb(26, 25, 25);
}

main {
  flex: 1 0 auto;
}

.page-footer {
  padding-top: 0;
  background: rgb(253, 197, 0);
}

.img {
  width: 100px;
}

.navbar-fixed {
  color: black;
}

.nav-wrapper {
  background: rgb(253, 197, 0);
  color: black;
  display: flex;
  justify-content: center;
}

.right {
  color: black;
}

.nav {
  color: black;
  font-size: 24px;
  font-family: 'Bangers', cursive;
}

.title {
  font-size: 50px;
  color: black;
  font-family: 'Bangers', cursive;
}

.center {
  font-family: 'Bangers', cursive;
  font-size: 24px;
}

.container {
  color: rgb(255, 233, 0);
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

.card {
  background: rgb(92, 0, 153);
  font-family: 'Bebas Neue', cursive;
  text-align: left;
  box-shadow: 3px 7px #E0CA00;
  padding: 30px;
  margin: 15px 10px;
  border-radius: var(--card_border_radius);
  grid-template-rows: auto;
}

.image{
  width: 300px;
}

input[type="text"]{
  color:rgb(253, 197, 0);
}

.thread-image{
  width: 100%;
  border-radius: 8px;
  box-shadow: 3px 5px rgba(26, 25, 25, 0.459);
}

.thread-container {
  margin: 0;
  padding: 0;
  width: 80vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  background-color: rgb(25, 25, 26);
}

.card-small {
  grid-row-end: span var(--card_small);
}
.card-medium {
  grid-row-end: span var(--card_medium);
}
.card-large {
  grid-row-end: span var(--card_large);
}

.btn {
  background-color: rgba(157, 28, 243, 0.628);
  color: rgb(255, 233, 0);
  border-radius: 5px;
  box-shadow: 3px 3px rgb(255, 233, 0);
  
}

.btn:hover {
  background-color: rgb(26, 25, 25);
}