{% extends 'base.html' %}
{% block content %}

<h1>{{ post.description }}</h1>

{% if image %}
<img src="{{ image.url }}" alt="">
{% endif %}
<p> </p>

{% if user == post.user %}
<a class='btn' href="{% url 'post_delete' post.id %}">Delete ?</a>
<a class='btn' href="{% url 'post_update' post.id %}">Edit ?</a>
{% endif %}

<a class='btn' href="{% url 'comment_create' post.id %}">Comment</a>
<a class='btn' href="{% url 'thread_posts_index' thread.id %}">Back</a>

{% for comment in comments %}

<div class="card">
    <div class="card-content">
        <span class="card-title"> {{ comment.user }} </span>
        <p>Comment: {{ comment.content }} </p>
        <p>{{ comment.created_at }}</p>
        {% if user == comment.user %}
        <a class='btn' href="{% url 'comment_delete' comment.id %}">Delete !!!!!</a>
        <a class='btn' href="{% url 'comment_update' comment.id %}">Update !!!!!</a>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}