{% extends 'base.html' %}
{% block content %}

<h1>THIS IS A POST DETAIL</h1>

<a class='btn' href="{% url 'post_delete' post.id %}">Delete ???</a>
<a class='btn' href="{% url 'post_update' post.id %}">Edit ???</a>
<a class='btn' href="{% url 'comment_create' post.id %}">Comment !!!!!</a>

{% for comment in comments %}

<div class="card">
    <div class="card-content">
        <span class="card-title"> {{ comment.user }} </span>
        <p>Comment: {{ comment.content }} </p>
        {% if user == comment.user %}
        <a class='btn' href="{% url 'comment_delete' comment.id %}">Delete !!!!!</a>
        <a class='btn' href="{% url 'comment_update' comment.id %}">Update !!!!!</a>
        {% endif %}
    </div>
</div>

{% endfor %}

{% endblock %}